1251134926586	Behavior.Active	/wg/stor5/jbohren/ros/ros-pkg-branch-trex/trex/TREX/agent/base/TREX.nddl,122
1251134926586	Behavior.Inactive	/wg/stor5/jbohren/ros/ros-pkg-branch-trex/trex/TREX/agent/base/TREX.nddl,128
1251134926586	ROSAction.Active	/wg/stor5/jbohren/ros/ros-pkg-branch-trex/trex_ros/nddl/ros.nddl,61
1251134926586	MoveBehavior.Inactive	/wg/stor5/jbohren/ros/ros-pkg-branch-trex/trex_pr2/nddl/common/move_behavior.nddl,43
1251134926586	MoveBehavior.Active	/wg/stor5/jbohren/ros/ros-pkg-branch-trex/trex_pr2/nddl/doors/doorman.nddl,14
1251134926586	MoveBase.Active	/wg/stor5/jbohren/ros/ros-pkg-branch-trex/trex_pr2/nddl/common/nav.nddl,12
1251134926586	DoorAction.Active	/wg/stor5/jbohren/ros/ros-pkg-branch-trex/trex_pr2/nddl/doors/door_controller.nddl,433
1251134926586	ArmsTucked.True	/wg/stor5/jbohren/ros/ros-pkg-branch-trex/trex_pr2/nddl/state_estimator/exports.nddl,29
1251134926586	SafetyTuckArms.Active	/wg/stor5/jbohren/ros/ros-pkg-branch-trex/trex_pr2/nddl/state_estimator/exports.nddl,46
1251134926586	TiltLaserReady.True	/wg/stor5/jbohren/ros/ros-pkg-branch-trex/trex_pr2/nddl/state_estimator/exports.nddl,35
1251134926586	SetLaserTilt.Active	/wg/stor5/jbohren/ros/ros-pkg-branch-trex/trex_pr2/nddl/state_estimator/exports.nddl,52
1251134926586	GripperFree.True	/wg/stor5/jbohren/ros/ros-pkg-branch-trex/trex_pr2/nddl/state_estimator/exports.nddl,40
1251134926586	ReleaseHandle.Active	/wg/stor5/jbohren/ros/ros-pkg-branch-trex/trex_pr2/nddl/state_estimator/exports.nddl,56
1251134926586	NavigationBehavior.Active	/wg/stor5/jbohren/ros/ros-pkg-branch-trex/trex_pr2/nddl/common/nav.nddl,20
1251134926586	DetectDoor.Active	/wg/stor5/jbohren/ros/ros-pkg-branch-trex/trex_pr2/nddl/doors/imports.nddl,34
1251134926586	DetectHandle.Active	/wg/stor5/jbohren/ros/ros-pkg-branch-trex/trex_pr2/nddl/doors/imports.nddl,40
1251134926586	GraspHandle.Active	/wg/stor5/jbohren/ros/ros-pkg-branch-trex/trex_pr2/nddl/doors/imports.nddl,47
1251134926586	UnlatchHandle.Active	/wg/stor5/jbohren/ros/ros-pkg-branch-trex/trex_pr2/nddl/doors/imports.nddl,52
1251134926586	OpenDoor.Active	/wg/stor5/jbohren/ros/ros-pkg-branch-trex/trex_pr2/nddl/doors/imports.nddl,57
1251134926586	TouchDoor.Active	/wg/stor5/jbohren/ros/ros-pkg-branch-trex/trex_pr2/nddl/doors/imports.nddl,62
1251134926586	PushDoor.Active	/wg/stor5/jbohren/ros/ros-pkg-branch-trex/trex_pr2/nddl/doors/imports.nddl,67
1251134926586	MoveBaseDoor.Active	/wg/stor5/jbohren/ros/ros-pkg-branch-trex/trex_pr2/nddl/doors/imports.nddl,73
1251134926586	DoorController.Inactive	/wg/stor5/jbohren/ros/ros-pkg-branch-trex/trex_pr2/nddl/doors/door_controller.nddl,198
1251134926586	DoorController.CheckingDoorway	/wg/stor5/jbohren/ros/ros-pkg-branch-trex/trex_pr2/nddl/doors/door_controller.nddl,203
1251134926586	DoorController.Positioning	/wg/stor5/jbohren/ros/ros-pkg-branch-trex/trex_pr2/nddl/doors/door_controller.nddl,250
1251134926586	DoorController.DetectingDoor	/wg/stor5/jbohren/ros/ros-pkg-branch-trex/trex_pr2/nddl/doors/door_controller.nddl,273
1251134926586	DoorController.DetectingHandle	/wg/stor5/jbohren/ros/ros-pkg-branch-trex/trex_pr2/nddl/doors/door_controller.nddl,294
1251134926586	DoorController.ApproachingDoor	/wg/stor5/jbohren/ros/ros-pkg-branch-trex/trex_pr2/nddl/doors/door_controller.nddl,311
1251134926586	DoorController.GraspingHandle	/wg/stor5/jbohren/ros/ros-pkg-branch-trex/trex_pr2/nddl/doors/door_controller.nddl,338
1251134926586	DoorController.UnlatchingHandle	/wg/stor5/jbohren/ros/ros-pkg-branch-trex/trex_pr2/nddl/doors/door_controller.nddl,353
1251134926586	DoorController.DriveThruDoorway	/wg/stor5/jbohren/ros/ros-pkg-branch-trex/trex_pr2/nddl/doors/door_controller.nddl,226
1251134926586	DoorController.OpenDoor	/wg/stor5/jbohren/ros/ros-pkg-branch-trex/trex_pr2/nddl/doors/door_controller.nddl,378
1251134926586	DoorActionWithFeedback.Inactive	/wg/stor5/jbohren/ros/ros-pkg-branch-trex/trex_pr2/nddl/doors/door_controller.nddl,442
